<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Erskine RBS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--PUT HPE BANNER HERE!!!!-->
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
        <div class="container">
            
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Dashboard", "Home", new { area = "" }, new {@class = "navbar-brand" })
            </div>-->
            <div class="navbar-collapse collapse">
                <h1 align="center">HPE - Erskine Room Booking System</h1>
                <!--<ul class="nav navbar-nav">
                    <li>xx@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>xx@Html.ActionLink("About", "About", "Home")</li>
                    <li>xx@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                xx@Html.Partial("_LoginPartial")-->
            </div>
        </div>
    <!--</div>-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
