@model ErskineRoomBookingSystem.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finishAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finishAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
